/* .one{
    background-color: antiquewhite;
}

.two{
    background-color: rgb(61, 216, 255);
}

.three{
    border: 2px solid black;
    margin: 50px;
    background-color: coral;
}
.btn{
    margin-left: 50px;
    width: 200px;
    height: 100px;
} */

.container{
    width: 700px;
    height: 700px;
}
.field{
    height: 550px;
    width: 750px;
    border: 5px solid rgb(137, 0, 200);
    position: relative;
    top: 100px;
    left: 500px;
}

button{
    width: 50px;
    height: 50px;
    background: hsla(329, 70%, 63%, 1);

    background: linear-gradient(90deg, hsla(329, 70%, 63%, 1) 0%, hsla(317, 100%, 78%, 1) 23%, hsla(327, 67%, 74%, 1) 50%, hsla(266, 67%, 66%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(329, 70%, 63%, 1) 0%, hsla(317, 100%, 78%, 1) 23%, hsla(327, 67%, 74%, 1) 50%, hsla(266, 67%, 66%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(329, 70%, 63%, 1) 0%, hsla(317, 100%, 78%, 1) 23%, hsla(327, 67%, 74%, 1) 50%, hsla(266, 67%, 66%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E25DA2", endColorstr="#FF90E0", GradientType=1 );
border: 0px;
}

.inputDiv{
    position: relative;
    top: 70px;
    right: -410px;
}